<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.letsreview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.GetReviewsActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.SignUpActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.HomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.PostReviewsActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>
        <activity android:name=".ui.ServerAddressActivity">

        </activity>
        <activity
            android:name=".ui.PostTopicsActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.FirstSignInActivity"
            android:label="@string/title_activity_first_sign_up"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>